<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--内部Domain到Sdk类型映射配置文件储存文件夹-->
  <add key="MAP_DOMAIN_TO_SDK" value="\MDTS\"/>
  <!--Sdk到内部Domain类型映射配置文件储存文件夹-->
  <add key="MAP_SDK_TO_DOMAIN" value="\MSTD\"/>
  <!--POST方法调用配置文件储存文件夹-->
  <add key="MAP_HANDLER" value="\MHP\"/>
  <!--默认Handler接口总配置文件-->
  <add key="MAP_HANDLERXML" value="Execute.xml"/>
  <!--系统日志根目录-->
  <add key="REQUESTLOG" value="\LOG\"/>
  <!--接口默认版本号-->
  <add key="DefaultVersion" value="v1.1"/>
  <!--输出XML时，是否忽略大小写-->
  <add key="IgnoreCase" value="True"/>
  <!--是否验证加密-->
  <add key="IsSign" value="false"/>

  <!--缓存配置 S-->
  <!--缓存配置：服务器列表-->
  <add key="MEMCACHED_SERVERS" value="127.0.0.1:11211"/>
  <!--缓存配置：缓存池名，默认PNAME-->
  <add key="MEMCACHED_POOLNAME" value="PNAMEB"/>
  <!--缓存配置：类型，1Memcached，2WebCache-->
  <add key="CACHE_CONFIG_SOURCETYPE" value="1"/>
  <!--缓存配置：数据有效期，单位分钟，默认5-->
  <add key="CACHE_CONFIG_DEFAULTTIME" value="5"/>
  <!--缓存配置 E-->
</appSettings>